@import "src/assets/variables";
@import "src/assets/breakpoints";

.header {
  padding-bottom: 24px;
  margin-bottom: 32px;
  border-bottom: 1px solid $gray-secondary;
  span {
    color: $black-secondary
  }
}

.form {
  display: flex;
  flex-direction: column;
}
.datepickerContainer {
  display: flex;
  @include mobile {
    flex-direction: column;
  }
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.inputContainer, .inputContainerSplit {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 480px;
  label {
    font-size: $input-primary-fz;
    font-weight: 500;
    cursor: pointer;
  }
}
.inputContainerSplit {
  width: fit-content;
}
.caption {
  color: $black-tertiary;
}
.splitLine {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.08);
}
.buttons {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  @include mobile {
    flex-direction: column-reverse;
  }
}

.answerTypeError {
  margin-top: 0;
}
.textInputSplitContainer, .textInputSplitContainerAttempts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  .attemptsInfo {
    display: flex;
    flex-direction: column;
  }
  span {
    color: $black-secondary;
    white-space: nowrap;
  }
}
.textInputSplitContainerAttempts {
  @include mobile {
    input {
      max-width: 191px;
    }
    flex-direction: column;
    align-items: flex-start;
  }
}

.validateError {
  margin-top: 0;
}

.timeLimitContainer {
  display: flex;
  gap: 12px;
}