@import 'src/assets/variables';
@import 'src/assets/breakpoints';

.contactsInfo {
  padding: 24px;
  background: $white;
  display: flex;
  flex-direction: column;
  gap: 24px;
  h2 {
    font-weight: 500;
    @include mobile {
      font-size: $caption-primary-fz;
      font-weight: 400;
    }
  }
  p {
    color: $black-secondary;
  }
}
.contacts {
  display: flex;
  gap: 12px;
  @include mobile {
    flex-direction: column;
  }
}
.contactsInfo {
  p {
    font-size: $caption-primary-fz;
  }
  h2 {
    @include mobile {
      font-size: $caption-primary-fz;
      font-weight: 400;
    }
  }
}
.contactsLink {
  font-size: $link-primary-fz;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.08);
  color: $black-primary;
  border-radius: $default-border-radius;
}
.media {
  display: flex;
  gap: 12px;
}
.mediaItem {
  padding: 6px;
  border: 1px solid $black-secondary;
  border-radius: $default-border-radius;
  &:hover {
    opacity: 0.6;
  }
}