@import "src/assets/variables";
@import "src/assets/breakpoints";

.form {
  display: flex;
  flex-direction: column;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 480px;
  label {
    font-size: $input-primary-fz;
    font-weight: 500;
    cursor: pointer;
  }
}
.splitLine {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.08);
  margin-bottom: 24px;
}
.buttonsContainer {
  display: flex;
  gap: 8px;
  @include mobile {
    flex-direction: column-reverse;
    gap: 12px;
  }
}
.passwordContainer {
  gap: 16px;
  max-width: 480px;
  label {
    font-size: $input-primary-fz;
    font-weight: 500;
  }
  button {
    margin-top: 16px;
    @include mobile {
      width: 100%;
    }
  }
}

.inputDescription {
  display: flex;
  flex-direction: column;
  gap: 6px;
  label {
    font-size: $input-primary-fz;
    cursor: pointer;
    font-weight: 500;
  }
}
